<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nithin. It uses data from WeatherStack API</p>
        <img class="pic" src="./images/nithinnew.jpg" alt="">
        <p>Disclaimer: the above pic was posted because i have to deploy the project in a hurry!. No problem i will change it XD</p>
    </div>
    {{>footer}}
</body>
</html>